<ion-header>
  <ion-toolbar>
    <ion-title>
      {{lastUpdated | date}}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label>Coronavirus</ion-label>
      <ion-select [ngModel]="metric" (ngModelChange)="metricChanged($event)" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="confirmed">Confirmed</ion-select-option>
        <ion-select-option value="recovered">Recovered</ion-select-option>
        <ion-select-option value="deaths">Deaths</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <pinch-zoom backgroundColor="#fff">
      <us-map [fillStateColors]="fillStateColors" (onMapClick)="onMapClick($event)"></us-map>
    </pinch-zoom>
    <p>Learn how to code apps at <a href="https://jamesonsaunders.com" target="_blank">jamesonsaunders.com</a></p>
  </div>
</ion-content>
